
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.buttonStyle {
  width: 120px;
}

.columnView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styleBetween {
  padding-top: 15px;
}

/*_______________CHECKBOX STYLE___________________*/
.styleCheckBox {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  margin-right: 5px;
}

/*_______________RADIO GROUP STYLE___________________*/
.radioGroupColumn {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.radioGroupElement {
  margin-right: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
